$primary: #1A3E3E;
$white: #FFFFFF;
$light-gray: #F3F5F4;
$yellow: #F2BE22;
$dark-gray: #18121E;
$black: #000000;
$primary-hover: #112a2a;
$telegram-color: #0088cc;
$vk-color: #4C75A3;
$pinterest-color: #E60023;
$skype-color: #00aff0;
