.blog {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $light-gray;

  @media (max-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (max-width: 992px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.blog__title {
  margin: 0 0 8px 0;
  text-align: center;
}

.blog__subtitle {
  margin: 0 0 40px 0;
  text-align: center;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 50px;
  padding: 0;

  gap: 20px;
  list-style-type: none;

  @media (max-width: 992px) {
    justify-content: center;
    gap: 20px;
  }
}

.blog__item {
  width: calc(50% - 10px);
  background-color: $white;
  border-radius: 10px;

  @media (max-width: 992px) {
    width: fit-content;

    &:last-child {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 576px) {
    &:not(:first-child) {
      display: none;
    }
  }
}

.blog__link {
  margin: 0 auto;
}