.input {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 26px;
    right: 18px;
    transform: translateY(-50%);

    width: 19px;
    height: 18px;

    background-image: url(../img/intro/calendar.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (max-width: 1200px) {
      top: 20px;
    }
  }
}

.input input {
  position: relative;
  z-index: 2;
  width: 251px;
  height: 48px;

  padding: 14px 16px;
  border: 1px solid $white;
  border-radius: 8px;

  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  color: $white;

  cursor: pointer;

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity:0;
    appearance: none;
  }

  &::placeholder {
    color: $white;
  }

  @media (max-width: 1200px) {
    width: 202px;
    height: 39px;

    font-size: 15px;
  }

  @media (max-width: 992px) {
    width: 199px;
    height: 42px;
  }
}