.offer {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $light-gray;

  @media (max-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @media (max-width: 992px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.offer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offer__content {
  margin: 0 auto;
}

.offer__title {
  margin: 0 0 8px 0;
}

.offer__subtitle {
  max-width: 580px;
  margin: 0 0 40px 0;
}

.offer__text {
  max-width: 580px;
  margin: 0 0 40px 0;

  @media (max-width: 1200px) {
    max-width: 630px;
  }

  @media (max-width: 768px) {
    max-width: 510px;
  }
} 

.offer__list {
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
}

.offer__item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.offer__item > img {
  display: block;
  margin-right: 16px;
}

.offer__heading {
  margin: 0 0 4px 0;
  font-size: 18px;
  line-height: 20px;
  color: $dark-gray;
}

.offer__desc {
  max-width: 514px;
  margin: 0;
}

.offer__link {
  margin: 0 auto;
}

.offer__aside {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 1200px) {
    display: none;
  }
}