.subtitle {
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  color: $dark-gray;

  @media (max-width: 1200px) {
    font-size: 29px;
  }

  @media (max-width: 576px) {
    font-size: 27px;
  }
}

.subtitle_sm {
  font-size: 26px;

  @media (max-width: 1200px) {
    font-size: 24px;
  }
}